body{
    margin:0px;
    color: #40514E;
    text-align: center;
    font-family: 'Merriweather', serif;
}
.top-container{
    background-color: #27296d;
    position: relative;
    padding-top: 100px;
}

h1{
    color: #a393eb;
    margin: 50px auto 0px auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    
}

h2{
    color: #a393eb ;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{
    color: #5e63b6;
    font-family: 'Montserrat',sans-serif;

}

p{
    line-height: 2;
}

a{
    color: #5e63b6;
    font-family: Montserrat, sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: #f5c7f7;
}

hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.top-cloud{
    position: absolute;
    top: 40px;
    right: 300px;

}

.bottom-cloud{
    position: absolute;
    left: 200px;
    bottom: 500px;
}

#astronaut{
    position: relative;
    top: 25px;
    height: 600px;
    width: 600px;
    
}

.middle-container{
    color: #40514E;
    margin: 100px 0;        
}

.profile-picture{
    height: 200px;
    width: 200px;
}

.intro{
    width: 50%;
    margin: auto;
}

.skill-row{
    margin: 50px auto 50px auto;
    width: 50%;
    text-align: left;
}


.code-img{
    width: 31%;
    float: left;
    margin-right: 30px;
}

.chickenwings-img{
    width: 31%;
    float: right;
    margin-left: 30px;

}

.contact-message{
    margin: 40px auto 60px;
    width: 40%;
}

.bottom-container{
    padding: 50px 0 20px;
    background-color: #a393eb;
}

.copyright{
    color: #f5c7f7;
    font-size: 0.75rem;
    padding: 20px 0;
}

.btn {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5e63b6), color-stop(1, #27296d) );
	background:-moz-linear-gradient( center top, #5e63b6 5%, #27296d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e63b6', endColorstr='#27296d');
	background-color:#5e63b6;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
}
.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a393eb), color-stop(1, #5e63b6) );
	background:-moz-linear-gradient( center top, #a393eb 5%, #5e63b6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a393eb', endColorstr='#5e63b6');
	background-color:#a393eb;
}
.btn:active {
	position:relative;
	top:1px;
}

